$blue: #4a80e8;
$white: #d9d9d9;
$black: #000000;
$gray: #c3c3c3;
$radius: 10px;

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 0 35px 0 20px;
    height: 75px;

    * {
        color: white;
    }

    > .Logo {
        color: white;
        font-size: 45px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 20px;

        > p {
            cursor: pointer;
            font-family: Inter-SemiBold;
            font-size: 48px;

            &.small {
                cursor: default;
                font-family: Inter-Regular;
                font-size: 40px;
                padding-bottom: 3px;
            }
        }
    }

    > .ExitButton {
        cursor: pointer;
        font-family: Inter-Regular;
        font-size: 32px;
    }

    > .ButtonList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        > div {
            height: 100%;
            padding: 0 40px;
            transition: all 0.3s;
            color: white;
            font-family: Inter-Regular;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}
